---
- name: Add Google signing key
  get_url:
    url: https://packages.cloud.google.com/apt/doc/apt-key.gpg
    dest: /etc/apt/keyrings/google.asc
    mode: '0644'

- name: Add Google repositories
  apt_repository:
    repo: "{{ item }}"
    state: present
  loop:
    - "deb [signed-by=/etc/apt/keyrings/google.asc] https://packages.cloud.google.com/apt cloud-sdk main"
    - "deb [arch=amd64 signed-by=/etc/apt/keyrings/google.asc] http://dl.google.com/linux/chrome/deb/ stable main"

- name: Install Google tools
  apt:
    name:
      - google-chrome-stable
      - google-cloud-cli
      - google-cloud-cli-gke-gcloud-auth-plugin
      - kubectl
    state: present
    update_cache: yes

